<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p><button id="record" disabled>Record</button> <button id="stop" disabled>Stop</button></p>
  <div class="row">
    <figure>
      <video id="live" width="320"></video><br />
      <caption>live preview</caption>
    </figure>
    <figure>
      <video id="recording" controls width="320"></video><br />
      <caption>recorded clip</caption>
    </figure>
  </div>
</ion-content>
