body {
    font-family: Courier, 'Courier New', monospace;
    padding: 1em 2em;
    font-size: 1rem;
}

code, pre, button {
    font-family: Courier, 'Courier New', monospace;
    font-size: 1rem;
}

code {
    color: #666;
}

button {
    border: 0;
    background: #31ffd5;
    font-family: Courier, 'Courier New', monospace;
    font-size: 1rem;
    padding: 0.5em 1em;
}

button:active, button:hover {
    background: #000;
    color: #fff;
}

button[disabled] {
    background: #ccc;
    color: #000;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.1em;
}

a {
    box-shadow: inset 0 -3px #31ffd5;
}

a:hover {
    background:#31ffd5;
}

p, li {
    line-height: 1.3em;
    margin: 1em 0;
}

li {
    margin: 0.8em 0;
}

canvas, video {
    max-width: 100%;
    max-height: 60vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row > * {
    text-align: center;
}

.choices {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

@media (min-width: 640px) {
    .choices li {
        display: inline-block;
        margin: 0;
    }
}

video {
    background: #666;
}